body { background-color:#fff;}
/*=============================================================*/
@font-face {
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=3.2.1');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
			url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
			url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
			url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight:normal;
	font-style:normal
}
header { 
	width:100%; left:0; top:0; z-index:2;
	height:45px;
	line-height:45px;
	position:absolute;
	font-family: FontAwesome;
}
header { background:#00bc03; width:100%;}
header .titlebar { background:#00bc03; width:100%; }
	.titlebar h2 { text-align:center; font-weight:normal; color:#fff; font-size:1.2rem; margin:0 auto;}
	.titlebar i { position:absolute; font-style:normal; font-size:1.4rem; color:#fff;}
	.titlebar .left { top:25% !important;}
	.titlebar i.back { left:3%;}
	.titlebar i.back:before { content:'\f104';}
	
.title { width:92%; margin:0 auto;}
.title h2 { font-size:22px; padding:5px 0; line-height:28px;}
.attr { font-size:0.8rem; padding:5px 0; color:#b5b5b5; width:92%; margin:0 auto;}
.attr span { display:inline-block; margin-right:5px;}
.content { width:92%; margin:0 auto;}
.content p, .content div { font-size:18px; line-height:4.2vh; word-wrap:break-word;}
.content p img, .content div img { width:100%;}